body {
    background-color: rgb(61, 58, 58);
    color:white;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

a:visited, a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
}

p {
    line-height: 1.6;
    font-size: 20px;
}

img {
    width: 800px;
    height: auto;
    margin: auto;
}

article + article {
    margin-top: 3rem;
}